.button-start {
    /* Rectangle */
    width: 100%;
    margin: 0 0 20px 0;
    height: 70px;
    background: #FFFFFF;
    border-radius: 6px;
    font-family: 'RubikRegular', serif;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #4734BD;
    border: 0;
}

.p2btn{
    padding: 0 !important;
    margin-top: -1px;
}

.container.start {
    max-width: 600px;
    background: #FF9239;
    background-image: url(../assets/menu/backgroundicons.svg);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;

}

.backlineimg {
    /*background-image: url(../img/linestartmenu.svg);*/
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.container.start>.d-flex {
    height: 100vh;
    margin: 0 !important;
}

.gameinfo {
    height: 100%;
    justify-content: center;
}

.gamenumber2 {
    font-family: 'RubikBlack', serif;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0 !important;
    /* or 119% */

    text-transform: uppercase;
    color: #FFFFFF;
}

.bgamename {
    width: 80%;
    height: 100px;
    border-radius: 6px;
    color: #fff;

    font-family: 'RubikBlack', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;

    border: 0;
    background: #86299D;
    background-image: url(../assets/menu/backgroundbutton.svg);
    margin: 0 auto;
}

.helponstart {
    font-family: 'RubikRegular', serif;
    font-size: 14px;
    line-height: 150%;
    /* or 150% */
    text-align: center;

    color: #FFFFFF;
}

.startcardimgs{
    padding: 0 !important;
}

.startcardimgs img{
    width: 50%;
}

.topmenu,
.topmenu1{
    margin-bottom: 0 !important;
}

@media (max-width: 500px) { 
    .startcardimgs img{
        width: 65%;
    }
}

@media (max-width: 430px) { 
    .startcardimgs img{
        width: 80%;
    }
}

@media (max-width: 380px) { 
    .startcardimgs img{
        width: 85%;
    }
}