#screen {
    /*padding-top: 13px !important;
    padding-bottom: 13px !important;*/
    height: calc(100vh - 69px);
}
#holder {
    background-color: rgb(219, 219, 219);
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border: 16px solid #872a9d;
    border-radius: 50%;
    border-top: 16px solid  #FF9239;
    /*width: 120px;
    height: 120px;*/
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}